$border-color: black;
$nav-width: 15%;

%generic-border {
    border: 1px solid $border-color;
}

span.red-body {
    color: red;
}

span.ancient-aliens {
    font-size: large;
    background-color: black;
    color: white;
}

#h-welcome {
    color: blue;
}

#aliens-table {
    @extend %generic-border;
    background-color: lightgray;
    padding: 5px;
    margin-bottom: 20px;
}

td, th {
    @extend %generic-border;
    border-collapse: collapse;
}

#p-wrap {
    word-wrap: break-word;
    white-space: normal;
}

nav {
    background-color: lightsalmon;
    width: $nav-width;
}

@media screen and (max-width: 500px) {
    p {
        background-color: lightpink;
        word-wrap: initial;
    }
}

.container > .row{
    background-color: aliceblue;
    border: 1px solid lightgray;

    .col {
        border: 1px solid lightgray;
        border-collapse: collapse;
    }
}
